.form-spacing-top {
    margin-top: 30px;
}
.btn-spacing {
    margin-top: 30px;
    border: 1px solid grey;
}
.btn-spacing:hover {
    background-color: #212529;
    color: white;
    font-size: 18px;
    opacity: 0.7;
}
.customize-well {
    padding: 1em !important;
    text-align: center;
    background-color: #f0f1f3;
    border: 0.5px solid #dad7d7;
    border-radius: 5px;
}
.item-center {
    margin-top: 3em;
}
.text-spacing {
    letter-spacing: 1.5em;
}
